.usecase-tile-content {
  background-color: #F3F3F3;
  display: flex;
  width: 250px;
  height: 180px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-out;
  cursor: pointer;

  &:hover{
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
  }
}
.usecase-tile-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.usecase-tile {
  & input[type=checkbox]{
    display: none;
  }
  & input[type=checkbox]:checked + .usecase-tile-content{
    border: 3px solid #0F71CB;
    & h6 {
      color: #0F71CB;
    }
  }
}
.video-wrapper {
  display: inline-block;
  position: relative;
  
  & img {
    max-width: 100%;
  }
  & .playIcon {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
    cursor: pointer;
  }
}

.exchange-data-wrapper {
  & .MuiTabs-root {
    & .MuiTabs-scroller.MuiTabs-fixed {
      margin-bottom: -1px !important;
    }
  }
  & .MuiButtonBase-root.MuiTab-root {
    &.Mui-selected {
      background: #F3F3F3;
    }
  }
}
